:host {
    position: fixed;
    bottom: 0;
    left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    max-width: 300px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

a {
    display: block;
    background: #d0482e url('/resources/icons/expand.png') top 5px right 5px
        no-repeat;
    padding: 12px 34px 12px 24px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

a:hover {
    background-color: #e4492b;
}

a.active {
    background-image: url('/resources/icons/collapse.png');
}

div.content {
    margin: 20px;
}

p {
    margin: 20px 0 10px 0;
    font-size: 12px;
    color: #6f6f6f;
}

.seperator {
    border-bottom: solid 1px #ebebeb;
}
