:host {
    display: block;
    padding: 16px 0;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    display: block;
    color: black;
    text-decoration: none;
    font-weight: bold;
    background: url('/resources/icons/trend.png') left no-repeat;
    padding-left: 28px;
    font-size: 13px;
    background-size: 20px;
}

.url {
    display: block;
    border-radius: 3px;
    border: solid 1px #f0f0f0;
    padding: 7px;
    text-decoration: none;
    color: #d86751;
    text-overflow: ellipsis;
    margin: 10px 0 -10px 0;
}

.title:hover {
    color: #888;
}

.title-guide {
    background-image: url('/resources/icons/trend.png');
}

.title-article {
    background-image: url('/resources/icons/mail.png');
}

.title-pdf {
    background-image: url('/resources/icons/share.png');
}

.title-visited {
    text-decoration: line-through;
}
